# Choose a Data Set

Create your own dataset by scraping one of the following websites *(level 5)*:
- [Wikipedia](https://www.wikipedia.org/)
- [OpenLibrary](https://openlibrary.org/)

**OR** 

Use data gathered from one of the following APIs *(level 4)*: 
- [TMDB](https://developer.themoviedb.org/reference/intro/getting-started)
- [College Scorecard](https://collegescorecard.ed.gov/data/api-documentation/)

**OR** 

Pick a JSON dataset *(level 3)*:
- [Food/Restaurant Data](https://drive.google.com/drive/folders/1V94S6WpclvQmbnW88KVMD4EruryA1oma?usp=drive_link)
- [Fashion Data](https://drive.google.com/drive/folders/1V8SbFjtRRW8WVf3xBzg0gzLjOtMhHea_?usp=drive_link)

**OR** 

Pick a CSV dataset *(level 2)*:
- [LA Parking Tickets](https://drive.google.com/drive/folders/1vaOfwMi6QmZEGsXr8VM0ulPGzvTTBCgm?usp=drive_link)
- [Hotels](https://drive.google.com/drive/folders/1IpVFxgwBJvJHKoOuBsk6WK2qYqFYP4hi?usp=drive_link)

# My Question
### what is the likely hood of grabing a fiction book with the word mystery in

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import random

In [2]:
to = []
ti=[]

In [4]:
total_page = 1
count=0
for page in range(1, 20):
    url = f"https://openlibrary.org/search?subject=Fiction&page={page}"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    to.append(soup)
    ##code to get all the pages##

In [5]:
for soup in to:
    titles = soup.find_all('h3')
    for title in titles:
        ti.append(title.get_text(strip=True))
        ##code to get just the h3 values then strip it so it perrdy##

In [6]:
##turning into a dataframe
df = pd.DataFrame(ti, columns=['Title'])

In [7]:
df

                                                  Title
0                                         The Iron Heel
1                                     Lilith: A Romance
2                                                Anthem
3                                  The Enchanted Castle
4                                             Pollyanna
...                                                 ...
1843  Common sense: addressed to the inhabitants of ...
1844                                        The Prophet
1845                                 Antony & Cleopatra
1846                                            Macbeth
1847                                            Zoom In

[1848 rows x 1 columns]

In [14]:
##getting the emperical of pulling a book with mystery in it 
book =0
myst =0
trial =10000
count =0
while count < trial:
    randrange = random.randint(1, 1848)
    if randrange <1836:
        book +=1
    else:
        myst +=1
    count +=1
(myst/trial)*100

0.7799999999999999

In [10]:
df[df['Title'].str.contains('Mystery', case=False, na=False)]
##finding all books with mystery in the title

                                                  Title
18                        The Mystery of the Blue Train
91    Curtain : Poirot's Last Case: A Hercule Poirot...
268                                 A Caribbean Mystery
574                             The seven dials mystery
644                               The Red House Mystery
743       The Haunted Hotel: A Mystery of Modern Venice
823                         Tales of Terror and Mystery
1135                Bunnicula: A Rabbit Tale of Mystery
1376  The Mystery of the Yellow Room: Extraordinary ...
1467                      The Mystery of the Blue Train
1540  Curtain : Poirot's Last Case: A Hercule Poirot...
1717                                A Caribbean Mystery

-81.52000000000001

# My Answer

if there are 1848 fiction books in a libary there is a 0.7% chance that a book you grab will have the word mystery in the title

***Describe analysis here.***

In [ ]:
# Alternate between code for analysis and markdown descriptions of your analysis
# Add more code or markdown cells if needed to fully explain analysis

***Describe analysis here.***

In [ ]:
# Add more code/markdown cells here if you need them.