In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_json('gme.json')

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-02-13,2.406250,2.515000,2.381250,2.512500,1.691666,76216000
1,2002-02-14,2.543750,2.548750,2.481250,2.500000,1.683250,11021600
2,2002-02-15,2.500000,2.506250,2.462500,2.487500,1.674834,8389600
3,2002-02-19,2.475000,2.475000,2.343750,2.387500,1.607504,7410400
4,2002-02-20,2.400000,2.468750,2.381250,2.468750,1.662210,6892800
...,...,...,...,...,...,...,...
5595,2024-05-07,15.850000,17.290001,14.930000,16.309999,16.309999,24308600
5596,2024-05-08,16.049999,17.240000,15.330000,15.920000,15.920000,24775100
5597,2024-05-09,15.900000,18.510000,15.350000,18.010000,18.010000,25759300
5598,2024-05-10,17.930000,20.200001,16.879999,17.459999,17.459999,36831900
5599,2024-05-13,26.340000,38.200001,24.770000,30.450001,30.450001,182308700

the varibles in this set are the dates the stock market was open the price there were at when it opened the highest the price went to lowest it went the price when it closed and the volume or the amount of stocks sold in a day and adj close witch is the adjusted price of the stock when the market closes

In [13]:
df[df['High']==df['High'].max()]

           Date   Open    High      Low      Close  Adj Close     Volume
4772 2021-01-28  66.25  120.75  28.0625  48.400002  48.400002  235263200

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5600 non-null   datetime64[ns]
 1   Open       5600 non-null   float64
 2   High       5600 non-null   float64
 3   Low        5600 non-null   float64
 4   Close      5600 non-null   float64
 5   Adj Close  5600 non-null   float64
 6   Volume     5600 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 306.4 KB